/* Initial Font & Background Styling */
body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Lato", sans-serif;
    }
    body,
    html {
        height: 100%;
        color: #777;
        line-height: 1.8;
    }

/* Create a Parallax Effect */
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

/* First image (Logo. Full height) */
    .bgimg-1 {
        background-image: url('./images/profilePhoto.jpg');
        min-height: 100%;
    }

/* Second image (Portfolio) */
    .bgimg-2 {
        background-image: url("./images/portfolioPhoto.jpg");
        min-height: 400px;
    }

/* Third image (Contact) */
    .bgimg-3 {
        background-image: url("./images/Lookout-CMA.jpeg");
        min-height: 400px;
    }
    .w3-wide {
        letter-spacing: 10px;
    }
    .w3-hover-opacity {
        cursor: pointer;
    }

/* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

/* Current Contact Link Hover Animation */
    .make-it-slow {
        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
        transition: box-shadow 0.3s ease-in-out;
    }
    /* Transition to a bigger shadow on hover */
    .make-it-slow:hover {
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }

/* "My Work" Styling */
    .center-this {
        text-align: center;
        margin-top: 60px;
    }

/* Portfolio Section */
    .container {
        /* width:100%; */
        text-align:center;
    }
    .left {
        float:left;
        width: 33%;
        height: 450px;
        border: 1px solid;
        box-shadow: 5px 10px;
    }
    .center {
        display: inline-block;
        margin:0 auto;
        padding: 0;
        width: 33%;
        height: 450px;
        border: 1px solid;
        box-shadow: 5px 10px;
    }
    .right {
        float:right;
        width: 33%;
        height: 450px;
        border: 1px solid;
        box-shadow: 5px 10px;
    }

/* Picture inside each portfolio card */
    .portfolio-picture {
        width: 528.89px;
        height: 268.98px;
    }
    .portfolio-picture:hover {
        cursor: pointer;
    }

/* Portfolio Description */
    .portfolio-description {
        text-align: center;
        font-weight: bold;
    }

/* Turn off parallax scrolling for tablets and phones */
    @media only screen and (max-device-width: 1024px) {
        .bgimg-1,
        .bgimg-2,
        .bgimg-3 {
            background-attachment: scroll;
        }
    }

/* Old Portfolio Style */
    /* .move-to-the-right {
        padding-left: 180px;   
    } */

/* Old Contact Link hover animation */
    /* .contact-hover:hover {
        background-color: #777;
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px 18px #888888;
    } */

/* Old Portfolio Styling: Carousel  */
    /* .carousel-item {
        height: 100%;
        width: 100%;
    } */

    /* .column {
        float: left;
        height: 500px;
        width: 45.00%;
        padding: 10px;
        border: 1px solid;
        box-shadow: 5px 10px;
        margin: 10px;
    } */

    /* Old Portfolio Image Styling */
    /* .portfolio-image {
        border: 1px solid;
        box-shadow: 5px 10px;
        margin: 5px;
        height: 355px;
        width: 233px;
    } */

    /* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* PORTFOLIO HOVER SECTION */

/* #rollover {
    border:none;
    text-decoration:none;
    padding: 0 0.5em 0 0.5em;
    position: relative;
}
#a {
    border:none;
    text-decoration:none;
    padding: 0 0.5em 0 0.5em;
    position: relative;
}

#rollover {
    visibility:hidden;
    background-color: #FFF;
    display:block;
    position: absolute;

    
    left: 0px;
    top: -140px;


    font-size: 12px; 
    line-height: 1.2;
    color:#666;
    text-align: center;

    
    border: 5px solid orange;
    padding: 5px;
}

#a {
    visibility:hidden;
    background-color: #FFF;
    display:block;
    position: absolute;

    
    left: 0px;
    top: -140px;

     
    font-size: 12px; 
    line-height: 1.2;
    color:#666;
    text-align: center;

    
    border: 5px solid orange;
    padding: 5px;
}

#span {
    visibility:hidden;
    background-color: #FFF;
    display:block;
    position: absolute;

    
    left: 0px;
    top: -140px;

     
    font-size: 12px; 
    line-height: 1.2;
    color:#666;
    text-align: center;

   
    border: 5px solid orange;
    padding: 5px;
}

.small {
    height: 100px;
    width: 100px;
}

.big {
    height: 300px;
    width: 300px;
}

#rollover a:hover #span #rollover #a:active #span #rollover #a:focus #span {
    visibility:visible;
}

#rollover #a:hover #rollover #a:focus {
    visibility:visible;
} */

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */